.tg  {border-collapse:collapse;border-spacing:0;border:none;border-color:#ccc;}
.tg td{padding:5px 3px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-weight:normal;padding:5px 3px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-new_value{background-color:#61122f;color:#34ff34;text-align:left;vertical-align:top}
.tg .tg-old_value{background-color:#61122f;color:#c0c0c0;text-align:left;vertical-align:top}
.tg .tg-header_value{background-color:#61122f;color:#ffffff;text-align:left;vertical-align:top}