<fieldset>
  <h2>Taak: {{workItemCtrl.taskName}} (Mag dat?)</h2>
  <form name="regForm" novalidate>
    <fieldset>
      <legend>Aangever</legend>
      <div>Naam: <span class="field_value">Demitri Achtnaaf (M)</span></div>
      <div>Geboortedatum: <span class="field_value">16-12-1950 (68 jaar)</span></div>
      <div>BSN: <span class="field_value">300.111.459</span></div>
    </fieldset>
    <br>
    <fieldset>
      <legend>Controle</legend>
      <div>Naam volgens BRP: <span class="field_value">Demitri P. Achternaaf</span></div>
      <div>Naam volgens 1 cent betaling: <span class="field_value">D.P. Achternaaf</span></div>
      <div>Bevoegdheidservice: <span class="field_value">Bevoegd voor het doen van HR opgave</span></div>
    </fieldset>
    <br>
    <fieldset>
      <legend>Vul de beoordeling in</legend>
      <input type="radio" ng-model="workItemCtrl.result['beoordeling_autorisatie']" name="beoordeling_autorisatie" value="goedgekeurd" required checked> Goedkeuren<br>
      <input type="radio" ng-model="workItemCtrl.result['beoordeling_autorisatie']" name="beoordeling_autorisatie" value="afgekeurd" required> Afkeuren<br>
      <span ng-if="regForm.beoordeling_autorisatie.$error.required && regForm.beoordeling_autorisatie.$touched">beoordeling moet een waarde hebben.
      </span>
    </fieldset>
    <br>
    <button ng-disabled="regForm.$invalid" ng-click="workItemCtrl.submit()">Gereed</button>
      <span><button ng-disabled="workItemCtrl.result == {}" ng-click="workItemCtrl.nexttask()">Volgende taak</button></span>
      <span><button ui-sref="home.work-list">Naar werkvoorraad</button></span>  
      <span> {{workItemCtrl.nexttask_text}} <button ng-show="workItemCtrl.nexttask_text != null" ui-sref="home.work-item({
                    taskName: workItemCtrl.taskName_next,
                    processInstanceId: workItemCtrl.processInstanceId_next,
                    taskId: workItemCtrl.taskId_next,
                    taskDefKey: workItemCtrl.taskDefKey_next })">Pak op</button></span>
      </br></br>
      {{workItemCtrl.result_text}}
  </form>
</fieldset>